<%= form_with(model: design, local: true) do |form| %>
    <% if design.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(design.errors.count, "error") %> prohibited this design from being saved:</h2>
  
        <ul>
          <% design.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :layout %><br>
      <div class="select">
        <%= form.select :layout_id, @layouts.map { |layout| [layout.title, layout.id] }, {include_blank: '選択してください'} %>
      </div>

      <div class="mt-3">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'input' %>
      </div>

      <%= form.label :content %>
      <%= form.text_area :content, class: 'textarea' %>

      <div class="mt-5 pt-5">
        <%= form.submit class: 'button is-success' %>
      </div>
  <% end %>
  